<div class="container">
<h1> Todo List </h1>

<div class="alert alert-success" *ngIf='message'>{{message}}</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>is Done?</th>
        <th>Description</th>
        <th>Target Date</th>
        <th>Modified Date</th>
        <th>is Completed?</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of todos |orderBy:'-targetDate'">
            <td><input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo, todo.id)" [checked]="todo.done"></td>
            <td>{{todo.description}}</td>
            <td>{{todo.targetDate | date | uppercase}}</td>
            <td>{{todo.modifiedDate | date | uppercase}}</td>
            <td>{{todo.done ? 'Yes' : 'No'}}</td>
            <td><button (click)="updateTodo(todo.id)" class="btn btn-success">Update</button> &nbsp;
            <button (click)="deleteTodo(todo.id)" class="btn btn-warning">Delete</button></td>
        </tr>
    </tbody>

  </table>

  <div class="row">
      <button (click)="addTodo()" class="btn btn-success">Add</button>
  </div>

</div>
</div>